@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */
header {
    width: 100%;
    background-color: #fff;
}

header .inner {
    width: 100%;
    height: 70px;
    margin: 0px auto;
    position: relative;
}

header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 250px;
}

header .inner .upper li a span{
    width: 120px;
    font: 20px 'arial';
    text-align: left;
}

header .inner .upper li a img{
    object-fit: contain;
    width: 50px;
    height: 30px;
}
header .inner .upper li img {
    object-fit: cover;
    width: 10%;
    height: 10%;
}
section{
    width: 100%;
    padding-top: 80px;
}

section .inner{
    width: 100%;
    display: flex;
    justify-content: center;
}

section .inner h1{
    padding: 10px;
    width: 850px;
    font: bold 80px 'arial';
    text-align: center;
    border: 1px solid rgb(231, 247, 250);
    border-radius: 30px;
    background-color:rgb(231, 247, 250);
}

main{
    margin-top: 50px;
    width: 100%;
}

main .inner{
    width: 100%;
    height: 550px;
    border: 1px aliceblue;
    background-color:aliceblue;
    border-radius: 20px;
    position: relative;
}

main .inner .img{
    position: absolute;
    top: 15px;
    left: 20px;
    width: 30% ;
    height: 450px;
    border-radius: 30px;
}
main .inner .img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
}

main .inner .main_box{
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60%;
    height: 500px;
    /* border: 1px solid black; */
}

main .inner .main_box .box{
    width: 100%;
    height: 12%; 
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main .inner .main_box .box .info_name{
    font: bold 25px "arial";
    line-height: 30px;
}

main .inner .main_box .box .information{
    padding-left: 12px;
    line-height: 30px;
    font: bold 25px "arial";
}

main .inner .main_box .box .information label{
    font: bold 15px "arial";
}


footer{
    width: 100%;
}
footer .inner{
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .inner .button{
    width: 30%;
    border: 1px solid rgb(226, 240, 253);
    background-color: rgb(226, 240, 253);
    border-radius: 30px;
    text-align: center;
    height: 40px;
    padding-top: 4px;
    font: bold 20px "arial";
    

}
