@charset 'utf-8';


@font-face {
    font-family: 'NanumHumanTTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

body {
    position: relative;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 42px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .inner .upper li:hover {
    background-color: rgb(236, 235, 235);
    color: #868686;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 50px;
}

section {
    width: 100%;
    padding: 20px;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .main_title {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

section .titlewrap .main_title h1 {
    font: bold 80px/1 "arial";
    color: #0241b6;
    margin: 50px 40px 0px 40px;
}

main {
    margin-top: 50px;
    width: 100%;
}

main .inner {
    width: 100%;
    height: 500px;
    border: 2px solid black;
    background-color: rgb(253, 253, 253);
    border-radius: 20px;
    position: relative;
}

main .inner .img {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 30%;
    height: 450px;
    border-radius: 30px;
}

main .inner .img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
}

main .inner .main_box {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 60%;
    height: 500px;
    /* border: 1px solid black; */
}

main .inner .main_box .box {
    width: 100%;
    height: 12%;
    margin: 5px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main .inner .main_box .box .info_name {
    font: bold 25px "arial";
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .inner .main_box .box .information {
    padding-left: 14px;
    line-height: 30px;
    font: 18px "arial";
    display: flex;
    justify-content: center;
    align-items: center;
}

main .inner .main_box .box .information label {
    font: bold 14px "arial";
}

main .inner .main_box .box .information .date {
    width: 22px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;

}

footer {
    width: 100%;
}

footer .inner {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .inner .button {
    width: 30%;
    border: 1px solid rgb(0, 23, 156);
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    text-align: center;
    height: 45px;
    font: bold 20px "arial";
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .inner .button:hover {
    background-color: rgb(0, 23, 156);
    color: white;

}