@charset 'utf-8';

@font-face {
  font-family: 'NanumHumanTTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
}

/* header */
header {
  width: 100%;
  background-color: #fff;
}

header .inner {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

header .inner .upper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

header .inner .upper li {
  border-radius: 1px 0 solid;
  margin-top: 8px;
  text-align: center;
  height: 42px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .inner .upper li:hover {
  background-color: rgb(236, 235, 235);
  color: #868686;
}

header .inner .upper li a {
  display: block;
  color: black;
  display: flex;
  align-items: center;
  width: 120px;
}

header .inner .upper li a span {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 120px;
}

hr {
  width: 100%;
  border-color: #4c6b7e;
  opacity: 0.2;
  position: absolute;
  top: 50px;
}

section {
  width: 100%;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);
}

section .titlewrap>h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: 'GmarketSansMedium';
  color: #ffff;
}

section .titlewrap {
  width: 100%;
  padding: 20px;
  text-align: center;
}

main {
  margin-top: 100px;
  width: 100%;
  /* position: relative; */
}

main .inner {
  width: 100%;
  position: relative;
}

main .inner .upper_box {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
}

main .inner .upper_box .main_title {
  display: block;
  margin: 0 auto;
  width: 300px;
}

main .inner .upper_box .main_title h1 {
  font-family: 'GmarketSansMedium';
  font-size: 3rem;
  font-weight: 900;
  color: #050505ee;
  /* margin: 120px 0px 0px 0px; */
}

main .inner .upper_box .upper {
  margin-top: 0px;
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: end;
  margin: 0px 0px 0px 0px;
}

main .inner .main_box {
  width: 100%;
  margin-bottom: 20px;
}

main .inner .main_box table {
  width: 100%;

  border: 1px solid#6d6d6d;
  border-collapse: collapse;
}

main .inner .main_box table tr {
  border: 1px solid #6d6d6d;
  text-align: center;
  height: 40px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

main .inner .main_box table tr th {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 30px;
  font-weight: 400;
  background-color: #eaf1ff;
  height: 20px;
}

main .inner .main_box table tr td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 180px;
  /* 셀의 최대 너비 설정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 500;
}

main .inner .main_box table tr td:first-child {
  font-size: 20px;
  font-weight: 500;
}

main .inner .main_box table tr:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

main .inner .main_box table tr:hover td {
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
}

main .inner .main_box table tr:first-child:hover {
  transform: none;
  box-shadow: none;
}

main .inner .detail_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 650px;
  position: relative;
  background-color: #eaf1ff;
}

main .inner .detail_box .title {
  margin: 20px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: rgb(22, 22, 22);
}

main .inner .detail_box .description {
  width: 85%;
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  color: rgb(22, 22, 22);
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto;
}

main .inner .detail_box .date {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 25px;
}

main .inner .detail_box .comment_list {
  width: 85%;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}

main .inner .detail_box .comment_list .list {
  width: 100%;
  height: 190px;
  overflow-y: auto;
  overflow-x: hidden;
}

main .inner .detail_box .comment_list .comment_box {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 5px;
  background-color: rgb(237, 236, 236);
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

main .inner .detail_box .comment_list .comment_box .name {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 10%;
}

main .inner .detail_box .comment_list .comment_box .push_date {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 25%;
}

main .inner .detail_box .comment_list .comment_box .comment {
  font-size: 15px;
  line-height: 30px;
  outline: none;
  width: 60%;
}

main .inner .detail_box .comment_list .comment_box .delete_comment {
  margin-top: 5px;
  display: none;
}

main .inner .detail_box .comment_list .comment_box .delete_comment img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  cursor: pointer;
}




main .inner .detail_box .comment_list .write_box {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 45px;
  background-color: rgb(237, 236, 236);
}

main .inner .detail_box .comment_list .write_box .write {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}

main .inner .detail_box .comment_list .write_box .write .press:hover {
  background-color: #bebebe;
  border-radius: 10px;
}

main .inner .detail_box .comment_list .write_box .write .write_comment {
  font-size: 15px;
  line-height: 30px;
  outline: none;
  width: 90%;
  margin-left: 10px;
}

main .inner .detail_box .comment_list .write_box .write .press footer .inner {
  object-fit: contain;
  position: absolute;
  right: 0px;
  width: 10%;
}

main .inner .detail_box .upper {
  margin-top: 0px;
  width: 100%;
  /* display: flex;
  justify-content: end;
  margin: 0px 0px 0px 0px; */
}

main .inner .detail_box .upper .searchBar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: right;
  top: 10px;
  gap: 10px;
}

main .inner .detail_box .upper .searchBar img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .inner .detail_box .upper .searchBar img:hover {
  width: 40px;
  height: 40px;
}

main .inner .detail_box .upper .searchBar #modify_board,
#delete_board {
  display: none;
}

main .inner .detail_box .upper .searchBar p input::placeholder {
  color: #465c6b;
  font-size: 16px;
  font-weight: 500;
}

main .inner .detail_box .upper .searchBar p input:focus::placeholder {
  color: transparent;
}

.pop-up-background1 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  display: none;
}

main .pop-up1 {
  padding-top: 15px;
  /* border: 1px solid black; */
  background-color: #f1f6f7;
  width: 43%;
  height: 530px;
  text-align: center;
  position: relative;
  display: none;
  margin-left: 300px;
}

main .pop-up1>img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

main .pop-up1>img:hover {
  background-color: rgb(126, 126, 126);
  color: white;
}

main .pop-up1 {
  position: absolute;
  z-index: 12;
  top: 120px;
  left: 20px;
}

main .content_box {
  margin: 20px;

  width: 90%;
  height: 450px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
}

main .content_box .content {
  /* border: 1px solid black; */
  width: 100%;
  height: 30px;
  display: flex;
  flex-wrap: wrap;
}

main .content_box .content div {
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
}

main .content_box .content .text {
  /* border: 1px solid black; */
  width: 100%;
  height: 180px;
  text-align: left;
}

main .content_box .date {
  position: absolute;
  bottom: 35px;
  /* border: 1px solid black; */
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

main .content_box .date div {
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .content_box .date div:nth-child(2) {
  padding-top: 4px;
  font-size: 25px;
  font-weight: 500;
}

main .content_box .date .add {
  width: 100px;
  height: 35px;
  margin-left: 170px;
  font-size: 20px;
  font-weight: 500;
  background-color: rgba(58, 58, 58, 0.1);
  border-radius: 15px;
  color: rgb(117, 117, 117);
  margin-top: 50px;
  border: none;
}

main .content_box .date .add:hover {
  background-color: rgba(58, 58, 58, 0.3);
  color: rgb(240, 240, 240);
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid#777;
  padding-bottom: 20px;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .upper h1 {
  float: left;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

footer .inner .lower address {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
}