@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */

header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font: 20px 'arial';
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}

section {
    width: 100%;
    padding-top: 50px;
}

section .inner{
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative
}

section .inner h1{
    width: 850px;
    font: bold 50px 'arial';
    padding: 5px;
    text-align: center;
    color: #0241b6;
}

.upper {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 60px;
}

.upper .submenu {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    display: flex;
}

.upper .searchBar {

    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

}

.upper .searchBar p {
    margin: 0;
    font: bold 30px/1 "arial";
    color: #0241b6;
}

.upper .searchBar p input {
    width: 300px;
    height: 35px;
    border: 3px solid #0241b6;
    font: 15px/1 "arial";
    outline: none;
    text-align: center;
    color: #465c6b;
}

.upper .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main_table {
    margin-top: 5px;
    width: 100%;
    height: 100%;
    
}

.main_table table{
    width: 100%;
    height: 90%;
    padding: 10px;
    border-top: 3px solid #0241b6;
    border-bottom: 3px solid #0241b6;
    border-collapse: collapse;
}

.main_table table tr {
    border: 1px solid #0241b6;
    text-align: center;
}

.main_table table tr td {
    border: 1px solid #0241b6;
    max-width: 550px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font: 25px/1 "arial";
}

.main_table table tr .bold {
    font: bold 25px/1 "arial";
}

/* modal pop-up (게시글 등록) */

/* 바깥 그림자 포함 사이즈 */
.post-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; 
    /*  modal ON/OFF  */
    display: none;
}

/* 게시판 클릭 시 본문 사이즈 */
.post-board .board-detail {
    width: 690px;
    height: 700px;
    background: #c9c9c9;
    padding: 45px;

    
}

/* 제목+본문 wrap 사이즈 */
.wrap-post {
    width: 100%;
    height: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    position: relative;

}

.wrap-post h1 {
    margin: 20px;
}

.title{
    margin: 20px 0 10px 20px;
}

.title input {
    font-size: 20px;
    width: 540px;
    height: 35px;
    padding: 0 4px 0 4px;
}

.title input::placeholder {
    color: rgb(185, 185, 185);
    font-size: 18px;
}

.title input:focus::placeholder {
    color: transparent;
}

.boardtext {    
    margin: 20px;
    width: 600px;
    height: 300px; 
}

.boardtext textarea {
    height: 400px;
    width: 540px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    padding: 10px;
}

.boardtext textarea::placeholder {
    color: rgb(185, 185, 185);
    font-size: 18px;
}

.submit {
    position: absolute;
    right: 10px;
    bottom: 0;
    padding: 0 20px 0 0;
}

.submit button {
    height: 40px;
    width: 70px;
}

/* 댓글 등록 시 */
.comment-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center; 
    /*  modal ON/OFF  */
    /* display: none; */
}

.comment-board .board-detail {
    width: 690px;
    height: 700px;
    background: #c9c9c9;
    padding: 45px;
}

.wrap-post .boardtext {
    height: 50%;
    width: 540px;
    overflow: scroll;
    font-size: 16px;
    padding: 10px;
}

.comment-list {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    
}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
    font-size: 16px;
}
