@charset 'utf-8';


@font-face {
    font-family: 'NanumHumanTTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

body {
    position: relative;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 42px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .inner .upper li:hover {
    background-color: rgb(236, 235, 235);
    color: #868686;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 120px;
}


hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 50px;
}




section {
    width: 100%;
    padding: 20px;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .main_title {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

section .titlewrap .main_title h1 {
    font-family: 'GmarketSansMedium';
    font-size: 100px;
    font-weight: 900;
    color: #0039a3;
    margin: 50px 40px 0px 40px;
    position: absolute;
    z-index: 1;
}

main {
    margin-top: 50px;
    width: 100%;

    position: relative;
}

main .inner {
    width: 100%;
    height: 900px;

    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    position: relative;
}

main .inner .upper {
    margin-top: 5px;
    width: 90%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

main .inner .upper .searchBar {

    width: 100%;
    margin: 0 auto;
    display: flex;
    /* 가로 정렬 */
    align-items: center;
    /* 세로 정렬 */
    justify-content: right;
    /* 가운데 정렬 */
    gap: 10px;

}

main .inner .upper div img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .inner .upper .searchBar p {
    margin: 0;
    font-size: 30px;
    font-weight: 500;
    color: #0241b6;
}

main .inner .upper .searchBar p input {
    width: 300px;
    height: 35px;
    border: 4px solid #a8a8a8;
    font-size: 15px;
    font-weight: 500;
    outline: none;
    text-align: center;
    color: #465c6b;
}

main .inner .upper .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .inner .upper .searchBar p input::placeholder {
    color: #465c6b;
    font-size: 16px;
    font-weight: 500;
}

main .inner .upper .searchBar p input:focus::placeholder {
    color: transparent;
}

main .inner .upper .searchBar .my_post {
    width: 120px;
    height: 40px;
    font-size: 20px;
    font-weight: 400;
    background-color: rgba(58, 58, 58, 0.1);
    color: rgb(117, 117, 117);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .inner .upper .searchBar .my_post :hover {
    background-color: rgba(58, 58, 58, 0.3);
    color: rgb(240, 240, 240);

}


main .inner .main_box {
    margin-top: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 60px;
}

main .inner .main_box table {
    width: 100%;
    height: 90%;
    border: 1px solid#6d6d6d;
    border-collapse: collapse;
    /* 겹치는 border 없애기 */
}

main .inner .main_box table tr {
    border: 1px solid #6d6d6d;
    text-align: center;
}

main .inner .main_box th {
    background-color: #eaf1ff;
    height: 40px;
}

main .inner .main_box table tr th {
    border: 1px solid #6d6d6d;
    outline: none;
    font-size: 30px;
    font-weight: 500;
}

main .inner .main_box table tr td {
    border: 1px solid #6d6d6d;
    max-width: 500px;
    /* 셀의 최대 너비 설정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 22px;
    font-weight: 500;

}

main .inner .main_box table tr .bold {
    font-size: 25px;
    font-weight: 800;
}

main .inner .main_box table tr td:nth-child(3) main .inner .main_box table tr td:nth-child(3) {
    width: 10px;
}

.pop-up-background1 {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0px;
    /*  modal ON/OFF  */
    /* display: none; */
}

/* 게시판 클릭 시 본문 사이즈 */
/* .board-detail {
    width: 690px;
    height: 700px;
    background: #c9c9c9;
    padding: 45px;


} */

/* 제목+본문 wrap 사이즈 */
/* .wrap-post {
    width: 100%;
    height: 100%;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
    position: relative;

}

.wrap-post h1 {
    margin: 20px;
}

.title input {
    font-size: 20px;
    width: 540px;
    height: 35px;
    padding: 0 4px 0 4px;
}

.title input::placeholder {
    color: rgb(185, 185, 185);
    font-size: 18px;
}

.title input:focus::placeholder {
    color: transparent;
}

.boardtext {
    margin: 20px;
    width: 600px;
    height: 300px;
}

.boardtext textarea {
    height: 400px;
    width: 540px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
    padding: 10px;
}

.boardtext textarea::placeholder {
    color: rgb(185, 185, 185);
    font-size: 18px;
}

.submit {
    position: absolute;
    right: 10px;
    bottom: 0;
}

.submit button {
    height: 40px;
    width: 70px;
}

/* 댓글 등록 시 */
/* .comment-board {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    */
/*  modal ON/OFF  */
/* display: none; */
/* }

.comment-board .board-detail {
    width: 690px;
    height: 700px;
    background: #c9c9c9;
    padding: 45px;
    border-radius: 5px;
}

.wrap-post .boardtext {
    height: 50%;
    width: 540px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 16px;
}

.wrap-post .title span {
    font: bold 24px/1 "arial";
}

.comment-list {
    margin-top: 20px;
    overflow-y: auto;
    overflow-x: hidden;
}

.comment-box {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;

}

.comment-header {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: bold;
}

.comment-content {
    margin-top: 5px;
    font-size: 16px;
} */