@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */

header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font: 20px 'arial';
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}

section {
    width: 100%;
    padding-top: 50px;
}

section .inner{
    width: 100%;
    display: flex;
    justify-content: center;
    position:relative
}

section .inner h1{
    width: 850px;
    font: bold 50px 'arial';
    padding: 5px;
    text-align: center;
    color: #0241b6;
}

.upper {
    margin-top: 5px;
    width: 100%;
    height: 40px;
    display: flex;
    margin-bottom: 60px;
}

.upper .submenu {
    width: 100%;
    height: 45px;
    border: 1px solid black;
    display: flex;
}

.upper .searchBar {

    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 10px;

}

.upper .searchBar p {
    margin: 0;
    font: bold 30px/1 "arial";
    color: #0241b6;
}

.upper .searchBar p input {
    width: 300px;
    height: 35px;
    border: 3px solid #0241b6;
    font: 15px/1 "arial";
    outline: none;
    text-align: center;
    color: #465c6b;
}

.upper .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.main_table {
    margin-top: 5px;
    width: 90%;
    height: 100%;
    
}

.main_table table{
    width: 100%;
    height: 90%;
    padding: 10px;
    border-top: 3px solid #0241b6;
    border-bottom: 3px solid #0241b6;
    border-collapse: collapse;
}

.main_table table tr {
    border: 1px solid #0241b6;
    text-align: center;
}

.main_table table tr td {
    border: 1px solid #0241b6;
    max-width: 550px;
    /* 셀의 최대 너비 설정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    font: 25px/1 "arial";
}

.main_table table tr .bold {
    font: bold 25px/1 "arial";
}