@charset 'utf-8';

@font-face {
  font-family: 'NanumHumanTTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
}

/* header */
header {
  width: 100%;
  background-color: #fff;
}

header .inner {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

header .inner .upper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

header .inner .upper li {
  border-radius: 1px 0 solid;
  margin-top: 8px;
  text-align: center;
  height: 42px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .inner .upper li:hover {
  background-color: rgb(236, 235, 235);
  color: #868686;
}

header .inner .upper li a {
  display: block;
  color: black;
  display: flex;
  align-items: center;
  width: 120px;
}

header .inner .upper li a span {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 120px;
}

hr {
  width: 100%;
  border-color: #4c6b7e;
  opacity: 0.2;
  position: absolute;
  top: 50px;
}

section {
  width: 100%;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);
}

section .titlewrap > h1 {
  font-size: 30px;
  font-weight: 800;
  font-family: 'GmarketSansMedium';
  color: #ffff;
}

section .titlewrap {
  width: 100%;
  padding: 20px;
  text-align: center;
}

section .titlewrap .main_title {
  display: block;
  margin: 0 auto;
  width: 1000px;
}

section .titlewrap .main_title h1 {
  font-family: 'GmarketSansMedium';
  font-size: 3rem;
  font-weight: 900;
  color: #050505ee;
  margin: 90px 0px 0px 0px;
  position: absolute;
  z-index: 1;
}

main {
  margin-top: 100px;
  width: 100%;
  height: 1100px;
}

main .inner {
  width: 100%;
  display: flex;
  flex-direction: column;
}

main .inner .main_box {
  width: 100%;
  margin-bottom: 20px;
}

main .inner .main_box table {
  width: 100%;

  border: 1px solid#6d6d6d;
  border-collapse: collapse;
}

main .inner .main_box table tr {
  border: 1px solid #6d6d6d;
  text-align: center;
  height: 40px;
  margin: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

main .inner .main_box table tr th {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: none;
  font-size: 30px;
  font-weight: 400;
  background-color: #eaf1ff;
  height: 20px;
}

main .inner .main_box table tr td {
  border: 1px solid rgba(0, 0, 0, 0.3);
  max-width: 180px;
  /* 셀의 최대 너비 설정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 500;
}

main .inner .main_box table tr td:first-child {
  font-size: 20px;
  font-weight: 500;
}

main .inner .main_box table tr:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  transform: translateY(-3px);
}

main .inner .main_box table tr:hover td {
  background-color: #fff;
  font-size: 24px;
  font-weight: 500;
}

main .inner .main_box table tr:first-child:hover {
  transform: none;
  box-shadow: none;
}

main .inner .detail_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  width: 100%;
  height: 650px;
  position: relative;
  background-color: #eaf1ff;
}

main .inner .detail_box .title {
  margin: 20px;
  text-align: center;
  font-size: 55px;
  font-weight: 500;
  color: rgb(22, 22, 22);
}

main .inner .detail_box .description {
  width: 85%;
  height: 270px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  color: rgb(22, 22, 22);
  font-size: 25px;
  font-weight: 500;
  margin: 0 auto;
}

main .inner .detail_box .date {
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 80px;
  left: 25px;
}
main .inner .detail_box .comment_list {
  width: 85%;
  height: 180px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 500;
}

main .inner .detail_box .comment_list .list {
  width: 100%;
  height: 100px;
  overflow-y: auto;
  overflow-x: hidden;
}
main .inner .detail_box .comment_list .comment_box {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 5px;
  background-color: rgb(237, 236, 236);
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
main .inner .detail_box .comment_list .comment_box .name {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 10%;
}
main .inner .detail_box .comment_list .comment_box .push_date {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 25%;
}
main .inner .detail_box .comment_list .comment_box .comment {
  font-size: 15px;
  line-height: 30px;
  outline: none;
  width: 60%;
}
main .inner .detail_box .comment_list .write_box {
  width: 100%;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin-top: 45px;
  background-color: rgb(237, 236, 236);
}
main .inner .detail_box .comment_list .write_box .write {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
}
/* main .inner .detail_box .comment_list .write_box .write .name {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 10%;
}

main .inner .detail_box .comment_list .write_box .write .push_date {
  font-size: 15px;
  text-align: center;
  line-height: 30px;
  width: 25%;
} */
main .inner .detail_box .comment_list .write_box .write .comment {
  font-size: 15px;
  line-height: 30px;
  outline: none;
  width: 90%;
  margin-left: 10px;
}
main .inner .detail_box .comment_list .write_box .write .press footer .inner {
  object-fit: contain;
  position: absolute;
  right: 0px;
  width: 10%;
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid#777;
  padding-bottom: 20px;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .upper h1 {
  float: left;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

footer .inner .lower address {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
}
