@charset 'UTF-8';
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
}
.wrap header .header-wrap {
  width: 100%;
  position: relative;
}
header .header-wrap .home {
  width: 50px;
  height: 50px;
  float: left;
}
header .header-wrap .home a img {
  width: 100%;
  object-fit: cover;
}
header .header-wrap .logo {
  width: 100%;
  margin: 0 -30px;
  text-align: center;
}
header .header-wrap h1 {
  margin-top: 30px;
  font-size: 50px;
  color: #000000;
}
header .header-wrap .sub {
  width: 100%;
  text-align: center;
}

.wrap .box {
  width: 500px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}
.wrap .box .agree_box {
  width: 400px;
  height: 300px;
  border-radius: 15px;
  background: #f9f7fcd6;

  justify-content: center;
}
.wrap .box .informtion_box {
  width: 400px;
  margin: 30px;
  border-radius: 15px;
  background: #f9f7fcd6;

  justify-content: center;
}
.wrap .last {
  display: flex;
  justify-content: space-around;
}