@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
}
header .header-wrap h1 {
  margin-bottom: 50px;
  margin-right: 10px;
  font-size: 50px;
  color: #000000;
}
header .header-wrap .sub {
  width: 100%;
  text-align: center;
}

.wrap .box {
  width: 500px;
  margin: auto;
  border-radius: 20px;
  padding: 25px;

  background-image: linear-gradient(45deg, #a4d2f8, #7c93be, #fff);
}

/* 동의란 */
.wrap .box .agree_box {
  width: 400px;
  height: 150px;
  border-radius: 5px;
  background: #ffffff;
  margin: auto;
  padding: 10px;
  overflow: scroll;
  overflow-x: hidden;
}

.wrap .box .agree_box .agree_box_text {
  width: 100%;
  font-size: 0.8rem;
  color: #7e7e7e;
}

.agree_text {
  text-align: right;
  margin-top: 10px;
  margin-right: 40px;
}

/* 체크 내용란 */
.wrap .box .informtion_box {
  width: 400px;
  height: 290px;
  overflow: hidden;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.8rem;
  transition: height 0.3s ease-in-out;
}

.wrap .box .informtion_box:hover {
  height: 480px;
}
.wrap .box .informtion_box form {
  display: flex;
  text-align: center;
}

.wrap .box .informtion_box form .female {
  width: 50%;
}
.wrap .box .informtion_box form .male {
  width: 50%;
}

.wrap .box .informtion {
  display: flex;
}

.wrap .box .informtion_box .left {
  width: 20%;
  text-align: left;
}

.wrap .box .informtion_box .right {
  width: 80%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .id .middle {
  width: 60%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .id .right {
  width: 20%;
  text-align: center;
  border-bottom: none;
  background: #e3e4e4;
  border-radius: 5px;
  padding: 3px;
}
.wrap .box .informtion_box .id .right:hover {
  border-radius: 5px;
  background: dodgerblue;
  cursor: pointer;
  color: #fff;
}
.wrap .box .informtion_box .planBusiness {
  position: relative;
}
.wrap .box .informtion_box .planBusiness .box_icon {
  position: absolute;
  right: 0px;
}
.wrap .box .informtion_box .planBusiness .box_icon:hover {
  cursor: pointer;
}
.wrap .box .informtion_box .abc_a .abc_a_a {
  width: 32%;
  text-align: center;
}

.wrap .box .informtion_box .abc_a .abc_a_b{
  width: 32%;
  text-align: center;
}

.wrap .box .informtion_box .abc_a .abc_a_c {
  width: 32%;
  text-align: center;
}
.wrap .box .informtion_box .else {
  display: flex;
  gap: 20px;
}

/* last button */
.last_box {
  width: 400px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  width: 50%;
  border-radius: 5px;
  background: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color: rgb(117, 117, 117);
}
.button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
}
