@charset 'UTF-8';
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
}
.wrap header .header-wrap {
  width: 100%;
  position: relative;
}
header .header-wrap .home {
  width: 50px;
  height: 50px;
  float: left;
}
header .header-wrap .home a img {
  width: 100%;
  margin-top: 10px;
  margin-left: 25px;
  object-fit: cover;
}
header .header-wrap .logo {
  width: 100%;
  text-align: center;
}
header .header-wrap a h1 {
  font-size: 50px;
  color: #000000;
}
header .header-wrap .sub {
  width: 100%;
  text-align: center;
}

.wrap .box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.wrap .box .gree_box {
  height: 250px;
  border-radius: 15px;
  background: lightblue;
}

.wrap .box .signup_box .boxes {
  border-radius: 15px;
  background: #caf0f8;
  margin-top: 10px;
}
.wrap .box .signup_box .name_box {
  height: 50px;
}
.wrap .box .signup_box .female_box {
  height: 50px;
}
.wrap .box .signup_box .male_box {
  height: 50px;
}
.wrap .box .signup_box .email_box {
  height: 50px;
}
.wrap .box .signup_box .id_box {
  height: 50px;
}
.wrap .box .signup_box .doubleCheck_box {
  height: 50px;
}
.wrap .box .signup_box .pwd_box {
  height: 50px;
}
.wrap .box .signup_box .birthDate_box {
  height: 50px;
}
.wrap .box .signup_box .phone_box {
  height: 50px;
}
.wrap .box .signup_box .businessNumver_box {
  height: 50px;
}

.wrap .box .sub-button .button {
  display: flex;
  background: #023e8a;
}
.wrap .box .sub-button .joinMembership_box {
  float: right;
}
