@charset 'utf-8';

@font-face {
    font-family: 'NanumHumanTTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

/* header */

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font-size: 20px;
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font-size: 20px;
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font-size: 20px;
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}

/* section */

section{
    width: 100%;
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    margin-top: 20px;
    font-size: 45px;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 130px;
}

.main-title h1{
    font-size: 100px;
    font-weight: 900;
    color: #0241b6;

}

.wrap-section {
    width: 80%;
    margin-top: 40px;
    padding: 20px;
}



.course-item{   
    margin-top: 100px;
    width: 100%;
    
}

.title {
    width: 40%;
    display: flex;
    text-align: center;
    /* background: #0241b6;
    color: #fff; */
    margin: 20px;
    padding: 9px 9px 9px 25px;
    border-radius: 25px;
}

.title h1{
    font: bold 24px "arial";
    color: #0241b6;
}

.item-wrap {
    width: 100%;
    height: 800px;
    border: 3px solid #0241b6;
    border-left: none;
    border-right: none;
    border-bottom: none;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.item-wrap .checkbox-wrap {
    width: 100%;
    border: none;
    padding: 30px;
    border-radius: 20px;
    
}

.item-wrap .checkbox-wrap .checkValue {

    border: 5px solid rgb(230, 230, 230);
    border-bottom: none;
    height: 70px;
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.item-wrap .checkbox-wrap .checkValue p {
    font: bold 24px/1 "arial";
}

.item-wrap .checkbox-wrap .checkValue .delete{
    width: 80px;
    height: 30px;
    line-height: 25px;
    margin-left: 40px;
    border: 1px solid #c0c0c0;
    cursor: pointer;
}

.item-wrap .checkbox-wrap .cart-item-list{
    height: 600px;
    border: 5px solid rgb(230, 230, 230);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item{
    border: 5px solid rgb(230, 230, 230);
    margin: 30px;
    display: flex;
    height: 150px;
}


.item-wrap .checkbox-wrap .cart-item-list .cart-item .check{
    border-right: 5px solid rgb(230, 230, 230);
    padding: 20px;
    display: flex;
    align-items: center;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .pic {
    width: 260px;
    height: 140px;
    justify-content: left;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .description{
    padding: 15px;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .description h1{
    padding-bottom: 10px;
} 

.item-wrap .checkbox-wrap .cart-item-list .cart-item .description p{
    font: 15px "arial";
    padding-bottom: 5px;
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .counter{
    display: flex;
    align-items: center;
    justify-content: center;
    font: 18px "arial";
    padding-left: 20px;
    gap: 10px;
    
}

.item-wrap .checkbox-wrap .cart-item-list .cart-item .counter button{
    width: 30px;
    height: 30px;
    border: 1px solid #75a5ff;
    border-radius: 15px;
    background-color: #bdd4ff;

}

.purchase-all {
    width: 100%;
    margin-top: 50px;
    position: fixed;
    display: flex;
    bottom: 0;
    justify-content: center;
}

.purchase-all .calc-all{
    margin: 30px;
    border: none;
    padding: 10px 60px 10px 60px;
    background-color: #8797f3;
    border-radius: 15px;
}

.purchase-all .purchase-final {
    margin: 30px;
    border: none;
    padding: 0 10px 0 10px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    
}

.purchase-all .purchase-final button{
    width: 400px;
    height: 70px;
    border: none;
    border-radius: 6px;
    background-color: #8797f3;
    font: bold 35px "arial";
    color: rgb(0, 61, 141);
    cursor: pointer;
}


.purchase-all .purchase-final button:hover{
    background-color: #5770ff;
    color: #fff;

}
