@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.6;
}

/* header */

.wrap {
    margin: 20px 20% 20px 20%;
}

header {
    width: 100%;
    background-color: #fff;
}

header .inner {
    width: 100%;
    height: 70px;
    margin: 0px auto;
    position: relative;
}

header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 250px;
}

header .inner .upper li a span{
    width: 120px;
    font: 20px 'arial';
    text-align: left;

}

header .inner .upper li a img {
    object-fit: contain;
    width: 50px;
    height: 30px;
}

header .inner .upper li img {
    object-fit: cover;
    width: 10%;
    height: 10%;
}

/* section */

section{
    width: 100%;
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-title{
    margin-top: 20px;
    font: 45px;
    display: flex;
    position: absolute;
    top: 0;
}

.main-title h1{
    font: bold 50px/1 "arial";
    color: #0241b6;

}

.wrap-section {
    width: 80%;
    margin-top: 40px;
    padding: 20px;
}



.course-item{   
    width: 100%;
    
}

.title {
    width: 40%;
    display: flex;
    text-align: center;
    border: 5px solid #0241b6;
    /* background: #0241b6;
    color: #fff; */
    margin: 20px;
    padding: 9px 9px 9px 25px;
    border-radius: 25px;
}

.title h1{
    font: bold 24px "arial";
    color: #0241b6;
}

.item-wrap {
    width: 100%;
    height: 800px;
    border: 5px solid #0241b6;
    border-radius: 25px;
    margin: 20px;
    padding: 20px;
    display: flex;
}

.item-wrap .checkbox-wrap {
    width: 100%;
    border: 1px solid #e9e9e9 ;
    display: flex;
    margin: 10px;
    padding: 30px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1)
}

.item-wrap .checkbox-wrap p input {
    

}
