@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
}

.wrap > h1 {
  width: auto;
  height: 9rem;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);

  font-size: 30px;
  font-weight: 800;
  font-family: "GmarketSansMedium";
  color: #ffff;

  text-align: center;
  align-content: center;
}

/* section */

section {
  width: 100%;
  padding-top: 20px;
  position: relative;
}
.title-wrap {
  width: 100%;
  margin-top: 1rem;
  font-size: 45px;
  text-align: center;
}

section .title-wrap .title h1 {
  font-family: "GmarketSansMedium";
  font-size: 3rem;
  font-weight: 900;
  color: #313030;
}

.wrap .box {
  width: 500px;
  margin: auto;
  border-radius: 20px;
  padding: 25px;

  background-image: linear-gradient(45deg, #a4d2f8, #7c93be, #fff);
}

.wrap .box .informtion_box {
  width: 400px;
  /* height: 360px; */
  overflow: hidden;
  border-radius: 5px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  margin: 0 auto;
  margin-top: 10px;
  font-size: 0.8rem;
  transition: height 0.3s ease-in-out;
}
.wrap .box .informtion_box .gender {
  background-color: #dfdede;
  border-radius: 10px;
  padding: 5px;
  color: #b0b0b0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 40px;
}

.wrap .box .informtion_box .gender .gender_text {
  font-size: 1.2rem;
  color: #787777;
}

.wrap .box .informtion {
  display: flex;
}

/* 아이디 */
.wrap .box .informtion_box .id {
  display: flex;
  background-color: #dfdede;
  border-radius: 10px;
  color: #b0b0b0;
}
.wrap .box .informtion_box .none {
  width: 80%;
  border: none;
  padding: 5px;
  text-align: center;
  font-size: 1.2rem;
  margin-right: 60px;
  color: #949494;
  background-color: #dfdede;
  border-radius: 10px;
  outline: none;
}
.wrap .box .informtion_box .id .id_text {
  margin-top: 10px;
  width: 20%;
  text-align: left;
}

.wrap .box .informtion_box .left {
  width: 20%;
  text-align: left;
}

.wrap .box .informtion_box .right {
  width: 80%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .BoI {
  position: relative;
}
.wrap .box .informtion_box .BoI .box_icon {
  position: absolute;
  right: 0px;
}
.wrap .box .informtion_box .BoI .box_icon > img {
  width: 25px;
  height: 25px;
  cursor: pointer;
  object-fit: contain;
}
.wrap .box .informtion_box .BoI .box_icon:hover {
  cursor: pointer;
}

.wrap .box .informtion_box .pwd .pwd_text {
  width: 50%;
  text-align: left;
}
.wrap .box .informtion_box .pwd .new_pwd {
  width: 25%;
  text-align: center;
  margin-left: 30%;
  border-bottom: none;
  background: #e3e4e4;
  border-radius: 5px;
  padding: 3px;
}
.wrap .box .informtion_box .pwd .new_pwd:hover {
  border-radius: 5px;
  background: dodgerblue;
  cursor: pointer;
  color: #fff;
}

/* last button */
.last_box {
  width: 350px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  width: 50%;
  border-radius: 5px;
  background: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color: rgb(117, 117, 117);
}
.button:hover {
  cursor: pointer;
  background-color: dodgerblue;
  color: white;
}

.pop-up-background1 {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.3;
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
}

.pop-up1,
.pop-up2,
.pop-up3 {
  padding-top: 15px;
  background-color: #f1f6f7;
  width: 350px;
  height: 300px;
  text-align: center;
  position: relative;
  display: none;
  z-index: 15;
}
.pop-up1 {
  position: absolute;
  top: 700px;
  left: 300px;
}
.pop-up2 {
  position: absolute;
  top: 700px;
  right: 300px;
}
.pop-up3 {
  position: absolute;
  top: 350px;
  right: 300px;
}

.pop-up1 > img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.pop-up1 > img:hover {
  background-color: rgb(126, 126, 126);
  color: white;
}

.pop-up2 > img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.pop-up2 > img:hover {
  background-color: rgb(126, 126, 126);
  color: white;
}

.pop-up3 > img {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.pop-up3 > img:hover {
  background-color: rgb(126, 126, 126);
  color: white;
}

.content_box {
  margin: 20px;
  /* border: 1px solid rgb(236, 236, 236); */
  width: 90%;
  height: 200px;
  position: relative;
  font-size: 20px;
  font-weight: 500;
  background-color: white;
  /* border-radius: 30px; */
}

.content_box .content {
  /* border: 1px solid black; */
  width: 100%;
  height: 10%;
  display: flex;
  flex-wrap: wrap;
}
.content_box .content div {
  margin-top: 10px;
  padding-left: 10px;
  border: none;
  outline: none;
  width: 46%;
  height: 100%;
  line-height: 37.5px;
  text-align: right;
}
.content_box .content div > input {
  width: 100%;
  outline: none;
  border: none;
}
.content_box .content .text {
  /* border: 1px solid black; */
  width: 100%;
  height: 180px;
  text-align: left;
}

.content_box .add {
  width: 150px;
  height: 40px;
  margin-left: 150px;
  font-size: 25px;
  font-weight: 400;
  background-color: rgba(58, 58, 58, 0.1);
  border-radius: 15px;
  color: rgb(117, 117, 117);
  margin-top: 50px;
  border: none;
}

.content_box .add:hover {
  background-color: rgba(58, 58, 58, 0.3);
  color: rgb(240, 240, 240);
}

footer {
  position: relative;
  margin-top: 5rem;
  border-top: 1px solid #888;
  width: 100%;
}

footer .inner {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between; /* 좌우로 정렬 */
  align-items: center;
  margin: 0 auto;
  height: 100px;
}

footer .inner .upper {
  width: 100%;
  padding-bottom: 20px;
}

footer .inner .upper h1 {
  float: left;
  font: bold 24px "arial";
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  /* 상단 영역 float 해제 */
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 30px;
}

footer .inner .upper ul::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .lower address {
  width: 100%;
  font: 12px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}
