@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

body {
    position: relative;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font: 20px 'arial';
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}

section {
    width: 100%;
    padding: 20px;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .main_title {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

section .titlewrap .main_title h1 {
    font: bold 80px/1 "arial";
    color: #0241b6;
    margin: 50px 40px 0px 40px;
}

main {
    width: 100%;
    padding-top: 50px;
}

main .inner {
    width: 100%;
}

main .inner .util {
    width: 100%;
    height: 700px;
    border: 4px solid black;
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 20px;
}

main .inner .util .upper {
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
    padding: 3px;
    margin-bottom: 10px;
}

main .inner .util .upper div {
    text-align: center;
    padding: 1px;

}

main .inner .util .upper div:first-child {
    margin-top: 1px;
    width: 170px;
    height: 30px;
    font: bold 20px "arial";
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
}

main .inner .util .upper .searchBar {
    /* margin-top: 1px;
    width: 200px;
    height: 30px;
    background-color: rgb(216, 216, 216);
    font: bold 15px "arial";
    border: 1px solid black;
    display: flex;
    justify-content: space-between; */

    width: 100%;
    margin: 0 auto;
    display: flex;
    /* 가로 정렬 */
    align-items: center;
    /* 세로 정렬 */
    justify-content: center;
    /* 가운데 정렬 */

    gap: 10px;

}

main .inner .util .upper .searchBar p {
    margin: 0;
    font: bold 30px/1 "arial";
    color: #0241b6;
}

main .inner .util .upper .searchBar p input {
    width: 300px;
    height: 25px;
    border: 5px solid #0241b6;
    font: 13px/1 "arial";
    outline: none;
    text-align: center;
    color: #465c6b;
}

main .inner .util .upper .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .inner .util .upper .searchBar p input::placeholder {
    color: #465c6b;
    font: 14px/1 "arial";
}

main .inner .util .upper .searchBar p input:focus::placeholder {
    color: transparent;
}




main .inner .util .upper div:nth-child(3) {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 30px;

}

main .inner .util .upper div:nth-child(3) img {
    /* margin-top: 4px; */
    width: 50px;
    height: 30px;
    margin-right: 2px;
}

main .inner .util .upper div:nth-child(3) div {
    text-align: center;
    font: bold 20px "arial";
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 20px;
}

main .inner .util .down {
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;

}

main .inner .util .down .box {
    border: 1px solid black;
    border-radius: 15px;
    width: 250px;
}

main .inner .util .down .box .img {
    width: 100%;
    height: 350px;
    /* border: 1px solid black; */
    border-radius: 15px;


}

main .inner .util .down .box .img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
}

main .inner .util .down .box .info {
    margin-top: 10px;
    width: 80%;
    /* border: 1px solid black; */
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
}

main .inner .util .down .box .info .info_name {
    font: bold 16px "arial";
    width: 50%;
    height: 30px;
    padding: 2px;
    /* border: 1px solid black; */
    text-align: end;
    line-height: 30px;
}

main .inner .util .down .box .info .information {
    font: 16px "arial";
    width: 50%;
    height: 30px;
    /* border: 1px solid black; */
    text-align: left;
    padding-left: 5px;
    line-height: 30px;
}