@charset 'UTF-8';
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
  height: 200px;
}
.wrap header .header-wrap {
  width: 100%;
  position: relative;
}
header .header-wrap .home {
  width: 50px;
  height: 50px;
  float: left;
}
header .header-wrap .home a img {
  width: 100%;
  object-fit: cover;
}
header .header-wrap .findId {
  width: 100%;
  margin: 0 -30px;
  text-align: center;
}
header .header-wrap .findId h1 {
  border-bottom: auto;
}

.wrap .total_box .email_box {
  height: 60px;
  position: relative;
  margin-top: 60px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}

.wrap .total_box .email_box .email_box_sub {
  width: 80px;
  font: 20px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #ffffffe8;
}
.email_box_input {
  position: absolute;
  left: 130px;
  top: 15px;
  height: 25px;
  border: none;
  border-radius: 3px;
}
.wrap .total_box .email_box .doublecheck_box_text {
  width: 70px;
  font-size: 15px;
  margin: 8px;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: center;
  border-radius: 15px;
  background: #ffffffe8;
}
.wrap .total_box .check_box .done_box_text:hover {
  background: #99a8c5;
  cursor: pointer;
}

.wrap .total_box .check_box {
  height: 60px;
  position: relative;
  margin-top: 20px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}
.wrap .total_box .check_box .check_box_text {
  width: 80px;
  font: 20px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #ffffffe8;
}
.check_email_box_input {
  position: absolute;
  left: 130px;
  top: 15px;
  height: 25px;
  border: none;
  border-radius: 3px;
}
.wrap .total_box .check_box .done_box_text {
  width: 70px;
  font-size: 15px;
  margin: 8px;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: center;
  border-radius: 15px;
  background: #ffffffe8;
}
.wrap .total_box .check_box .done_box_text:hover {
  background: #99a8c5;
  cursor: pointer;
}

.wrap .total_box .myid_box {
  height: 60px;
  position: relative;
  margin-top: 50px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}
.wrap .total_box .myid_box .myid_box_text {
  width: 90px;
  font: 20px;
  padding: 8px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #ffffffe8;
}
.wrap .total_box .myid_box .copy_box_text {
  width: 70px;
  font-size: 15px;
  margin: 8px;
  padding: 5px;
  position: absolute;
  right: 15px;
  top: 10px;
  text-align: center;
  border-radius: 15px;
  background: #ffffffe8;
}
.wrap .total_box .myid_box .copy_box_text:hover {
  background: #99a8c5;
  cursor: pointer;
}
