@charset 'utf-8';

@font-face {
  font-family: 'NanumHumanTTFBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2')
    format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
  box-sizing: border-box;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input:focus {
  outline: none;
}
.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
}
header .findId h1 {
  margin-bottom: 30px;
  margin-right: 10px;
  font-size: 50px;
  color: #4b4b4b;
}

.wrap .box {
  width: 500px;
  margin: auto;
  border-radius: 20px;
  padding: 25px;
  background-image: linear-gradient(45deg, #a4d2f8, #7c93be, #fff);
}

.wrap .box .informtion {
  display: flex;
}



.wrap .box .informtion_box .myid .left {
  width: 20%;
  text-align: left;
}

.wrap .box .informtion_box .myid .right {
  width: 80%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .left {
  width: 20%;
  text-align: left;
}

.wrap .box .informtion_box .right {
  width: 80%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .informtion .middle {
  width: 60%;
  border: none;
  border-bottom: 1px solid gray;
}

.wrap .box .informtion_box .informtion .right {
  width: 20%;
  text-align: center;
  border-bottom: none;
  background: #e3e4e4;
  border-radius: 5px;
  padding: 3px;
}
.wrap .box .informtion_box .informtion .right:hover {
  border-radius: 5px;
  background: rgb(178, 178, 178);
  cursor: pointer;
  color: #fff;
}


.wrap {
  margin: 20px 20%;
}
/* last button */
.last_box {
  width: 400px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  margin: 0 auto;
  margin-top: 20px;
}
.button {
  width: 50%;
  border-radius: 5px;
  background: #ffffff;
  font-size: 1.2rem;
  text-align: center;
  padding: 10px;
  color: rgb(117, 117, 117);
}
.button:hover {
  cursor: pointer;
  background-color: rgb(78, 163, 248);
  color: white;
}