@charset 'UTF-8';
* {
  margin: 0px;
  padding: 0px;
}
ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20%;
}

.wrap header {
  width: 100%;
}
.wrap header .header-wrap {
  width: 100%;
  position: relative;
}
header .header-wrap .home {
  width: 50px;
  height: 50px;
  float: left;
}
header .header-wrap .home a img {
  width: 100%;
  object-fit: cover;
}
header .header-wrap .findId {
  width: 100%;
  margin: 0 -30px;
  text-align: center;
}
header .header-wrap .sub {
  width: 150px;
  height: 2px;
  text-align: center;
}

.wrap .total_box .email_box {
  height: 60px;
  position: relative;
  margin-top: 60px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: #90e0ef;
}

.wrap .total_box .email_box .email_box {
  width: 100px;
  height: 35px;
  font: 20px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #caf0f8;
}
.wrap .total_box .email_box .doublecheck_box_text {
  width: 80px;
  height: 35px;
  font: 20px;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-align: center;
  border-radius: 15px;
  background: #caf0f8;
}

.wrap .total_box .check_box {
  height: 60px;
  position: relative;
  margin-top: 20px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: #90e0ef;
}
.wrap .total_box .check_box .check_box_text {
  width: 100px;
  height: 35px;
  font: 20px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #caf0f8;
}
.wrap .total_box .check_box .done_box_text {
  width: 80px;
  height: 35px;
  font: 20px;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-align: center;
  border-radius: 15px;
  background: #caf0f8;
}

.wrap .total_box .myid_box {
  height: 60px;
  position: relative;
  margin-top: 50px;

  width: 500px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  background: #90e0ef;
}
.wrap .total_box .myid_box .myid_box_text {
  width: 100px;
  height: 35px;
  font: 20px;
  position: absolute;
  bottom: 8px;
  left: 10px;
  border-radius: 15px;
  text-align: center;
  background: #caf0f8;
}
.wrap .total_box .myid_box .copy_box_text {
  width: 80px;
  height: 35px;
  font: 20px;
  font-size: 15px;
  position: absolute;
  bottom: 10px;
  right: 15px;
  text-align: center;
  border-radius: 15px;
  background: #caf0f8;
}
