@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
}

.wrap > h1 {
  width: auto;
  height: 9rem;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);

  font-size: 30px;
  font-weight: 800;
  font-family: "GmarketSansMedium";
  color: #ffff;

  text-align: center;
  align-content: center;
}
/* section */
section {
  width: 100%;
  padding-top: 20px;
}

.wrap section .titlewrap .main_title {
  display: block;
  margin: 0 auto;
}

.wrap section .title-wrap .main_title h1 {
  font-family: "GmarketSansMedium";
  font-size: 4rem;
  color: #050505ee;
  margin: 0 40px 0px 40px;
  text-align: center;
  z-index: 1;
}

/* main */
main {
  width: 100%;
  margin-top: 100px;
}

main .inner {
  width: 100%;
  height: 400px;
  position: relative;
}

main .inner .upper {
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: space-between;
}

main .inner .upper .box1,
.box2 {
  width: 35%;
  height: 100%;
  /* border: 1px solid rgb(141, 141, 141); */
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
  margin-left: 120px;
}

main .inner .upper .title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 17px;
}

main .inner .upper .information {
  /* border: 1px solid rgb(136, 136, 136); */
  border-radius: 5px;
  width: 80%;
  /* height: 500%; */
  margin: 0 auto;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

main .inner .upper .information .info {
  text-align: right;
  height: 5%;
  line-height: 37.5px;
  width: 40%;
  margin-right: 10px;
  margin-left: 15px;
}

main .inner .upper .information div {
  width: 50%;
  height: 5%;
  line-height: 37.5px;
}

main .inner .upper .information div > input {
  width: 90%;
  outline: none;
  border: none;
}

main .inner .detail_box {
  width: 60%;
  height: 100%;
  position: relative;
  position: absolute;
  right: 0;
  top: 0px;
}

main .inner .detail_box .box2 {
  width: 60%;
  height: 250px;
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
  margin: 0 auto;
}

main .inner .detail_box .box2 .title {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 17px;
}

main .inner .detail_box .box2 .information {
  border-radius: 5px;
  width: 80%;
  margin: 0 auto;
  height: 180px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

main .inner .box2 .information .info {
  text-align: right;
  height: 15%;
  line-height: 37.5px;
  width: 40%;
  margin-right: 10px;
  margin-left: 15px;
}

main .inner .box2 .information div > input {
  width: 90%;
  outline: none;
  border: none;
}

main .inner .box2 .information div {
  width: 50%;
  height: 15%;
  line-height: 37.5px;
}

main .inner .show_calendar {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(117, 117, 117);
  border: none;
}

main .inner .show_calendar:hover {
  background-color: rgba(58, 58, 58, 0.3);
  color: rgb(240, 240, 240);
}

main .inner .detail_box .buttons {
  width: 60%;
  height: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  gap: 20px;
  background-color: white;
  position: relative;
  z-index: 10;
}

main .inner .detail_box .buttons .calender {
  width: 100%;
  height: 300px;
  border: 1px solid rgb(201, 200, 200);
}

main .inner .detail_box .buttons .apply {
  width: 100px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 10px;
  color: rgb(117, 117, 117);
  margin-top: 10px;
  border: none;
}

main .inner .detail_box .buttons .apply:hover {
  background-color: rgba(58, 58, 58, 0.3);
  color: rgb(240, 240, 240);
}

main .inner .detail_box .down {
  width: 60%;
  height: 250px;
  border-radius: 5px;
  background-color: rgb(203, 203, 203);
  margin: 0 auto;
  position: absolute;
  top: 250px;
  left: 20%;
  transition: all 0.3s ease-in-out;
}

main .inner .detail_box .down.active {
  top: 0;
}

/* footer */

footer .inner {
  padding-top: 120px;
  width: 100%;
  margin: 0px auto;
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid#777;
  padding-bottom: 20px;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .upper h1 {
  float: left;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

footer .inner .lower address {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
}
