* {
    margin: 0px;
    padding: 0px;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

body {
    position: relative;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font: 20px 'arial';
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}

section {
    width: 100%;
    padding: 20px;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .main_title {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

section .titlewrap .main_title h1 {
    font: bold 80px/1 "arial";
    color: #0241b6;
    margin: 50px 40px 0px 40px;
}

main {
    margin-top: 50px;
    width: 100%;
}

main .inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .inner .main_box {
    width: 30%;

}

main .inner .main_box table {
    width: 100%;
    height: 90%;
    border: 3px solid#0241b6;
    border-collapse: collapse;

}

main .inner .main_box table tr {
    border: 1px solid #0241b6;
    text-align: center;
    height: 60px;
    margin: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

main .inner .main_box table tr th {
    border: 1px solid #0241b6;
    outline: none;
    font: bold 30px/1 "arial";
}

main .inner .main_box table th {
    background-color: #eaf1ff;

}


main .inner .main_box table tr td {
    border: 1px solid#0241b6;
    max-width: 180px;
    /* 셀의 최대 너비 설정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    font: 20px/1 "arial";
}

main .inner .main_box table tr td:first-child {
    font: bold 20px/1 "arial";
}


main .inner .main_box table tr:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-3px);
}

main .inner .main_box table tr:hover td {
    background-color: #fff;
    font: bold 24px "arial";
}


main .inner .detail_box {
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    width: 700px;
    position: relative;
    background-color: rgb(250, 253, 255);
}


main .inner .detail_box .title {
    margin: 20px;
    text-align: center;
    font: bold 40px "arial";


}

main .inner .detail_box .description {
    width: 80%;
    height: 450px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    position: absolute;
    right: 50px;
    background-color: white;
    padding: 20px;
}

main .inner .detail_box .buttom {
    position: absolute;
    bottom: 0px;
    width: 100%;

}

main .inner .detail_box .buttom .content {
    width: 100%;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;


}

main .inner .detail_box .buttom .content div {
    font: 16px "arial";
    margin-bottom: 10px;
    padding-left: 10px;
}

main .inner .detail_box .buttom .content div:last-child {
    padding-top: 4px;
}