@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */
header {
    width: 100%;
    background-color: #fff;
}

header .inner {
    width: 100%;
    height: 70px;
    margin: 0px auto;
    position: relative;
}

header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 25px;
    text-align: center;
    margin-bottom: 10px;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 250px;
}

header .inner .upper li a span{
    width: 120px;
    font: 20px 'arial';
    text-align: left;
}

header .inner .upper li a img{
    object-fit: contain;
    width: 50px;
    height: 30px;
}
header .inner .upper li img {
    object-fit: cover;
    width: 10%;
    height: 10%;
}
section{
    width: 100%;
    padding-top: 80px;
}

section .inner{
    width: 100%;
    display: flex;
    justify-content: center;
}

section .inner h1{
    padding: 10px;
    width: 850px;
    font: bold 80px 'arial';
    text-align: center;
    border: 1px solid rgb(231, 247, 250);
    border-radius: 30px;
    background-color:rgb(231, 247, 250);
}
main{
    margin-top: 50px;
    width: 100%;

    position: relative;
}

main .inner{
    width: 100%;
    height: 900px;

    /* border: 1px solid black; */
    display: flex;
    justify-content:center;
    position: relative;
}

main .inner .upper{
    margin-top: 5px;
    width: 90%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
}

main .inner .upper>div{
    width: 40%;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
}

main .inner .upper>div img{
    object-fit: contain;
    width: 50px;
    height: 40px;
    padding-top: 5px;
}

main .inner .upper>div>div{
    margin-right: 5px;
    width: 310px;
    display: flex;
    justify-content:space-between;
    margin-top: 4px;
    height: 40px ;
    background-color: rgb(216, 216, 216);
    font: bold 15px "arial";
    border: 1px solid black;
}

main .inner .upper>div>div label{
    font:bold 16px "arial";
    text-align: center;
    line-height: 40px;
    padding-left: 5px;
}

main .inner .upper div>div input{
    width: 180px;
}
main .inner .upper div>div img{
    padding-top: 3px;
    width: 50px;
    height: 35px;
}

main .inner .main_box{
    margin-top: 5px;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 60px;
}

main .inner .main_box table{
    width: 100%;
    height: 90%;
    border: 1px solid black;
    border-collapse: collapse; /* 겹치는 border 없애기 */
}

main .inner .main_box table tr{
    border: 1px solid black;
    text-align: center;
}

main .inner .main_box table tr th{
    border: 1px solid #000000;
    outline: none;
    font: bold 16px/1 "arial";
}

main .inner .main_box table tr td{
    border: 1px solid #000000;
    max-width: 200px; /* 셀의 최대 너비 설정 */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
    padding-right: 5px;
    

}

main .inner .main_box table tr .bold{
    font: bold 16px/1 "arial";
}

main .inner .main_box table tr td:nth-child(3){
    width: 7px;
}

main .pop-up-background1, .pop-up-background2{
    width: 50%;
    height: 450px;
    border: 1px solid black;
    background-color: black;
    opacity: 0.4;
}

main .pop-up1, .pop-up2{
    padding-top: 15px;
    border: 1px solid black;
    background-color: white;
    width: 43%;
    height: 400px;
    text-align: center;

}

main .pop-up-background1{
    position: absolute;
    top: 100px;
    left: -20px;
}

main .pop-up1{
    position: absolute;
    top: 120px;
    left: 20px;
}



main .content_box{
    margin-top: 20px;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    width: 100%;
    height: 300px;
    position: relative;
    font: 16px "arial";

}

main .content_box .content{
    /* border: 1px solid black; */
    width: 100%;
    height: 30px;
    display: flex;
    flex-wrap: wrap;

}
main .content_box .content div{
    margin-top: 10px;
    padding-left: 10px;
}


main .content_box .content .text{
    /* border: 1px solid black; */
    width: 100%;
    height: 180px;
    text-align: left;
}

main .content_box .date{
    position: absolute;
    bottom: 10px;
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

main .content_box .date div{
    margin-top: 10px;
    padding-left: 10px;
}

main .content_box .date div:last-child{
    padding-top: 4px;
}

main .content_box .date .submit{
    width: 100px;
    height: 35px;
    margin-left: 170px;
    border-radius: 13px;
    font: bold 20px "arial";
    background-color: aliceblue;
    border: 1px solid black;

}