@charset 'utf-8';


@font-face {
    font-family: 'NanumHumanTTFBold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}



@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 'NanumHumanTTFBold', 'GmarketSansMedium';
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

body {
    position: relative;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {
    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 42px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

header .inner .upper li:hover {
    background-color: rgb(236, 235, 235);
    color: #868686;
}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 50px;
}

section {
    width: 100%;
    padding: 20px;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .main_title {
    display: block;
    margin: 0 auto;
    width: 1000px;
}

section .titlewrap .main_title h1 {
    font: bold 80px/1 "arial";
    color: #0241b6;
    margin: 50px 40px 0px 40px;
}

main {
    width: 100%;
}

main .inner {
    width: 100%;
}

main .inner .upper {
    margin-top: 50px;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;

}


main .inner .upper .searchBar {

    width: 100%;
    margin: 0 auto;
    display: flex;
    /* 가로 정렬 */
    align-items: center;
    /* 세로 정렬 */
    justify-content: right;
    /* 가운데 정렬 */
    gap: 10px;

}

main .inner .upper div img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .inner .upper .searchBar p {
    margin: 0;
    font: bold 30px/1 "arial";
    color: #0241b6;
}

main .inner .upper .searchBar p input {
    width: 300px;
    height: 35px;
    border: 3px solid #0241b6;
    font: 15px/1 "arial";
    outline: none;
    text-align: center;
    color: #465c6b;
}

main .inner .upper .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

main .inner .upper .searchBar p input::placeholder {
    color: #465c6b;
    font: 16px/1 "arial";
}

main .inner .upper .searchBar p input:focus::placeholder {
    color: transparent;
}


main .inner .util {
    width: 100%;
}

main .inner .util .main_box {
    margin-top: 10px;
    width: 100%;
    border: 2px solid black;
    border-radius: 40px;
    height: 500px;
    display: flex;
    background-color: rgb(253, 253, 253);
}

main .inner .util .main_box .img {
    margin: 25px;
    width: 30%;
    height: 450px;
    border-radius: 30px;
}

main .inner .util .main_box .img img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 30px;
}

main .inner .util .main_box .info {
    /* border: 1px solid black; */
    margin: 10px;
    width: 80%;

}

main .inner .util .main_box .info .box {
    width: 100%;
    height: 12%;
    margin: 4px;
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

main .inner .util .main_box .info .box .info_name {
    font: bold 23px "arial";
    line-height: 30px;
}

main .inner .util .main_box .info .box .information {
    padding-left: 12px;
    line-height: 30px;
}

main .inner .util .main_box .info .box .button {
    width: 100px;
    height: 40px;
    line-height: 30px;
    position: absolute;
    right: 50px;
    border: none;
    border-radius: 30px;
    text-align: center;
    font: bold 16px "arial";
    color: white;
    background-color: rgb(148, 148, 148);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .inner .util .main_box .info .box .information label {
    font: bold 14px "arial";
}

main .inner .util .main_box .info .box .information .date {
    width: 22px;
    text-align: center;
}

footer {
    width: 100%;
}

footer .inner {
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .inner .button {
    width: 250px;
    border: 1px solid rgb(0, 23, 156);
    border-radius: 30px;
    text-align: center;
    height: 40px;
    line-height: 30px;
    background-color: rgb(255, 255, 255);
    font: bold 17px "arial";
    display: flex;
    justify-content: center;
    align-items: center;
}