@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
}

/* header */
header {
  width: 100%;
  background-color: #fff;
}

header .inner {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  position: relative;
}

header .inner .upper {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

header .inner .upper li {
  border-radius: 1px 0 solid;
  margin-top: 8px;
  text-align: center;
  height: 42px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .inner .upper li:hover {
  background-color: rgb(236, 235, 235);
  color: #868686;
}

header .inner .upper li a {
  display: block;
  color: black;
  display: flex;
  align-items: center;
  width: 120px;
}

header .inner .upper li a span {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  width: 120px;
}

hr {
  width: 100%;
  border-color: #4c6b7e;
  opacity: 0.2;
  position: absolute;
  top: 50px;
}

.wrap .box .second_header {
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
}
.wrap .box .second_header .second_header_box {
  text-align: center;
  font-size: 60px;
}

.wrap .box .point {
  margin-top: 40px;
}

.wrap .box .point .plusPoint {
  width: 750px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  border-radius: 15px;
  margin-top: 20px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}

.wrap .box .point .plusPoint .plusPoint_icon {
  font-size: 30px;
  margin-left: 45px;
}

.wrap .box .point .plusPoint .plusPoint_won {
  font-size: 25px;
  margin-left: 50px;
}
.wrap .box .point .plusPoint .plusPoint_point {
  font-size: 25px;
  margin-left: 10px;
}

.wrap .box .point .plusPoint .plusPoint_date {
  font-size: 25px;
  margin-left: 90px;
}

.wrap .box .point .plusPoint .plusPoint_change {
  font-size: 25px;
  margin-left: 110px;
}

.wrap .box .point .minusPoint {
  width: 750px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  border-radius: 15px;
  background-image: linear-gradient(45deg, #9cd1fd, #c1c0f3, #99a8c5);
}
.wrap .box .point .minusPoint .minusPoint_icon {
  font-size: 30px;
  margin-left: 45px;
}

.wrap .box .point .minusPoint .minusPoint_won {
  font-size: 25px;
  margin-left: 50px;
}
.wrap .box .point .minusPoint .minusPoint_point {
  font-size: 25px;
  margin-left: 10px;
}

.wrap .box .point .minusPoint .minusPoint_date {
  font-size: 25px;
  margin-left: 90px;
}

.wrap .box .point .minusPoint .minusPoint_change {
  font-size: 25px;
  margin-left: 110px;
}
