@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

/* header */
header {
    width: 100%;
    background-color: #fff;

}

header .inner {
    width: 100%;
    height: 90px;
    margin: 0 auto;
    position: relative;
}


header .inner .upper {
    width: 100%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
}

header .inner .upper li {

    border-radius: 1px 0 solid;
    margin-top: 8px;
    text-align: center;
    height: 30px;
    width: 150px;


}

header .inner .upper li a {
    display: block;
    color: black;
    display: flex;
    align-items: center;
    width: 120px;
}

header .inner .upper li a span {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

header .inner .upper li:nth-child(1) {
    font: 20px 'arial';
    text-align: center;
    width: 100px;
}

header .inner .upper li:nth-child(2) {
    font: 20px 'arial';
    text-align: center;
    width: 120px;
}

hr {
    width: 100%;
    border-color: #4c6b7e;
    opacity: 0.2;
    position: absolute;
    top: 70px;
}


/* section */


section {
    width: 100%;
    padding-top: 20px;
    position: relative;
}

section .titlewrap {
    width: 100%;
    padding: 20px;
    text-align: center;
}

section .titlewrap .coursetitle {
    display: block;
    margin: 0 auto;
    width: 460px;
}

section .titlewrap .coursetitle h1 {
    font: bold 50px/1 "arial";
    color: #0241b6;
    padding-bottom: 16px;
}

section .titlewrap .searchBar {
    width: 100%;
    margin: 0 auto;
    display: flex;
    /* 가로 정렬 */
    align-items: center;
    /* 세로 정렬 */
    justify-content: center;
    /* 가운데 정렬 */

    gap: 10px;

}

section .titlewrap .searchBar p {
    margin: 0;
    font: bold 30px/1 "arial";
    color: #0241b6;

}

section .titlewrap .searchBar p input {
    width: 500px;
    height: 45px;
    border: 5px solid #0241b6;
    font: 30px/1 "arial";
    outline: none;
    text-align: center;
    color: #465c6b;
}

section .titlewrap .searchBar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}


section .titlewrap .searchBar p input::placeholder {
    color: #465c6b;
    font: 20px/1 "arial";
}

section .titlewrap .searchBar p input:focus::placeholder {
    color: transparent;
}

section .cardwrap {
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    width: 100%;
    height: 320px;
    background: #ffffff;
    border-radius: 20px;
    border: 2px solid #25a8ff;
    text-align: center;
    box-sizing: border-box;

}

section .cardwrap .card p {
    float: left;
    padding-left: 15px;
}

section .cardwrap .card .pic {
    width: 100%;
    height: 170px;
    padding-top: 10px;
    background-color: #ffffff;
    border-radius: 20px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

section .cardwrap .card .pic img {
    object-fit: cover;
    width: 90%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #0241b6;
}

/* 팝업 모달 */
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    display: none;
    justify-content: center;

    align-items: center;
}

.modal .course-content {
    width: 1080px;
    height: 90%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    overflow: scroll;
}

#pop-up:target {
    display: flex;
}

.modal .course-content .title {
    width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
    margin-left: 20px;
    padding: 10px 10px;
    background-color: #ffffff;
    text-align: left;

}

.modal .course-content .title h1 {
    font: bold 35px/1 "arial";
}

.modal .course-content .video {
    width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
    border: 5px solid #3e6fca;
    border-radius: 30px;
}

.modal .course-content .video img {
    width: 90%;
    height: 90%;
    object-fit: contain;
    border-radius: 20px;

}

.modal .course-content .description {
    width: 1000px;
    margin: 0 auto;
    margin-top: 45px;
    padding: 15px;
    border: 5px solid #3e6fca;
    border-radius: 30px;
    text-align: left;
}