@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
}

select:focus {
  outline: none;
  border: 1px solid #0241b6;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.wrap > h1 {
  width: auto;
  height: 9rem;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);

  font-size: 30px;
  font-weight: 800;
  font-family: "GmarketSansMedium";
  color: #ffff;

  text-align: center;
  align-content: center;
}

/* section */

section {
  width: 100%;
  padding-top: 20px;
  position: relative;
}

section .titlewrap {
  width: 100%;
  text-align: left;
  display: flex;
  padding-bottom: 1rem;
  border-bottom: 5px solid #0241b6;
}

section .titlewrap .coursetitle {
  display: block;
  margin: 0 auto;
  width: 50rem;
}

section .titlewrap .coursetitle h1 {
  font-family: "GmarketSansMedium";
  font-size: 3rem;
  color: #0241b6;
  padding-left: 3rem;
}

section .titlewrap .searchBar {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}

section .titlewrap .searchBar p {
  margin: 0;
  font: bold 1rem "arial";
  color: #0241b6;
  text-align: start;
}

section .titlewrap .searchBar p input {
  width: 20rem;
  height: 30px;
  border: 3px solid #0241b6;
  border-radius: 5px;
  font: 1rem "arial";
  outline: none;
  text-align: start;
  color: #465c6b;
}

section .titlewrap .searchBar img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

section .titlewrap .searchBar p input::placeholder {
  color: #465c6b;
  font: 20px/1 "arial";
}

section .titlewrap .searchBar p input:focus::placeholder {
  color: transparent;
}

section .cardwrap {
  width: 100%;
  margin: 0 auto;
  padding-top: 35px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.card {
  width: 100%;
  height: 320px;
  background: #ffffff;
  border-radius: 20px;
  border: 2px solid #25a8ff;
  text-align: center;
  box-sizing: border-box;
}

section .cardwrap .card p {
  float: left;
  padding-left: 15px;
}

section .cardwrap .card .pic {
  width: 100%;
  height: 200px;
  padding-top: 10px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}

section .cardwrap .card .pic img {
  object-fit: cover;
  width: 90%;
  height: 90%;
  border-radius: 20px;
  border: 2px solid #0241b6;
}



/* 팝업 모달 */
.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  display: none;
  justify-content: center;

  align-items: center;
}

.modal .course-content {
  width: 1080px;
  height: 90%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: scroll;
}

#pop-up:target {
  display: flex;
}

.modal .course-content .title {
  width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  margin-left: 20px;
  padding: 10px 10px;
  background-color: #ffffff;
  text-align: left;
}

.modal .course-content .title h1 {
  font: bold 35px/1 "arial";
}

.modal .course-content .video {
  width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  border: 5px solid #3e6fca;
  border-radius: 30px;
}

.modal .course-content .video img {
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 20px;
}

.modal .course-content .description {
  width: 1000px;
  margin: 0 auto;
  margin-top: 45px;
  padding: 15px;
  border: 5px solid #3e6fca;
  border-radius: 30px;
  text-align: left;
}

footer {
  position: relative;
  margin-top: 5rem;
  border-top: 1px solid #888;
  width: 100%;
}

footer .inner {
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between; /* 좌우로 정렬 */
  align-items: center;
  margin: 0 auto;
  height: 100px;
}

footer .inner .upper {
  width: 100%;
  padding-bottom: 20px;
}

footer .inner .upper h1 {
  float: left;
  font: bold 24px "arial";
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  /* 상단 영역 float 해제 */
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 30px;
}

footer .inner .upper ul::after {
  content: "";
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font: bold 14px/1 "arial";
  color: #666;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .lower address {
  width: 100%;
  font: 12px/1.3 "arial";
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font: 12px/1 "arial";
  color: #777;
}
