@charset 'utf-8';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    text-decoration: none;
}

hr {
    border-color: #4c6b7e;
    opacity: 0.2;
}

.wrap {
    margin: 20px 20% 20px 20%;
}

