@charset 'utf-8';

@font-face {
  font-family: "NanumHumanTTFBold";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2501-1@1.1/NanumHumanTTFBold.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "NanumHumanTTFBold", "GmarketSansMedium";
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.wrap {
  margin: 20px 20% 20px 20%;
}

hr {
  border-color: #4c6b7e;
  opacity: 0.2;
}

body {
  position: relative;
  flex-direction: column;

}

.wrap>h1 {
  width: auto;
  height: 9rem;
  padding: 20px;
  background-color: #f6f8fc;
  background-image: linear-gradient(45deg, #e9f5ff, #dae7ff, #fff);
  font-size: 30px;
  font-weight: 800;
  font-family: "GmarketSansMedium";
  color: #ffff;
  text-align: center;
  align-content: center;
}

section {
  width: 100%;
  padding-top: 20px;
}

/* main */

main {
  margin-top: 50px;
  width: 100%;
  position: relative;
}

main .inner {
  width: 100%;
  justify-content: center;
  position: relative;

}

main .inner .upper {
  margin-top: 5px;
  width: 90%;
  margin: 0 auto;
  height: 50px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: end;
}

.title-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.title-wrap .main_title {
  text-align: center;

}

.main_title h1 {
  width: 100%;
  font-family: "GmarketSansMedium";
  font-size: 3rem;
  font-weight: 900;
  color: #050505ee;
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  margin: 0 40px 0px 40px;
}

.searchBar {
  width: auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

main .inner .upper div img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .inner .upper .searchBar p {
  margin: 0;
  font-size: 30px;
  font-weight: 500;
  color: #0241b6;
}

main .inner .upper .searchBar p input {
  width: 300px;
  height: 35px;
  border: 4px solid #a8a8a8;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  text-align: center;
  color: #465c6b;
}

main .inner .upper .searchBar img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

main .inner .upper .searchBar img:hover {
  width: 40px;
  height: 40px;
}

main .inner .upper .searchBar p input::placeholder {
  color: #465c6b;
  font-size: 16px;
  font-weight: 500;
}

main .inner .upper .searchBar p input:focus::placeholder {
  color: transparent;
}

/* main box */

.main_box {
  width: 96%;
}

.main_box .subtitle {
  margin-left: 60px;
}

.main_box .subtitle h1 {
  font-family: "GmarketSansMedium";
  font-size: 2rem;
  color: #333;
  grid-column: span 3;
  text-align: start;
}

.main_box #course_box {
  width: 100%;
  padding: 1rem;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 30px;
}

.main_box #course_box .box1 {
  width: 21.875rem;
  height: 22rem;
  border: 1px solid #9f9f9f;
  border-radius: .3125rem;
  display: flex;
  text-align: left;
  flex-direction: column;
  position: relative;

}

.main_box #course_box .box1 .img {
  width: 90%;
  padding-top: 56.25%;
  margin: 1rem;
  position: relative;
  object-fit: cover;
}

.main_box #course_box .box1 .img img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* .main_box #course_box .box1 .title_wrap {
  margin-bottom: 1rem;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  width: 100%;
  margin-left: 30px;
  display: inline-block;
} */

.main_box #course_box .box1.title {
  color: #000;
  font-size: 1.2rem;

}

/* .main_box #course_box .box1 .price_wrap {
  margin-bottom: 1rem;
  justify-content: flex-start;
  text-align: left;
  display: flex;
  width: 100%;
  margin-left: 30px;
  display: inline-block;
} */

.main_box #course_box .box1 .price{
  font-size: 1rem;
    color: #000;
}

.main_box #course_box .box1 .cart {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  background-color: #ffffff;
  color: rgb(57, 57, 57);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid rgb(174, 174, 174);
  cursor: pointer;
  transition: background-color 0.5s ease, color 0.5s ease, border 0.5s ease;
}

.main_box #course_box .box1 .cart:hover {
  border: white;
  color: white;
  background-color: #939393;
  cursor: pointer;
}





footer .inner {
  padding-top: 50px;
  width: 100%;
  margin: 0px auto;
}

footer .inner .upper {
  width: 100%;
  border-bottom: 1px solid#777;
  padding-bottom: 20px;
}

footer .inner .lower {
  width: 100%;
}

footer .inner .upper h1 {
  float: left;
  font-size: 24px;
  font-weight: 500;
  color: #666;
}

footer .inner .upper ul {
  float: right;
}

footer .inner .upper::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li {
  float: left;
  margin-left: 20px;
}

footer .inner .upper ul::after {
  content: '';
  display: block;
  clear: both;
}

footer .inner .upper ul li a {
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

footer .inner .lower address {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

footer .inner .lower p {
  width: 100%;
  font-size: 12px;
  font-weight: 500;
  color: #777;
}

.pop-up {
  position: absolute;
  top: 10%;
  left: 28%;
  display: block;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #fff;
  width: 35rem;
  height: 40rem;
  z-index: 2;
  /* display: none; */
}

.pop-up-title {
  margin: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop-up img {
  width: 1.4rem;
  height: 2rem;
  object-fit: cover;
}

.content_box {
  height: auto;
  margin: 1.25rem;
}

.content {
  margin-bottom: 2rem;
}

.write,
.text_content {
  border: 1px solid #000;
  outline: none;
  padding: .25rem;
}

.date .add_product {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  outline: none;
  padding: .2rem;
}